= simple_form_for @locality do |f|
  - if @locality.errors.any?
    #error_explanation
      %h2= "#{pluralize(@locality.errors.count, "error")} prohibited this locality from being saved:"
      %ul
        - @locality.errors.full_messages.each do |msg|
          %li= msg

  = f.input :name
  = f.input :type, collection: Locality::TYPES, as: :check_boxes, label_method: :to_s, value_method: :to_s
  = f.input :neLat
  = f.input :neLng
  = f.input :swLat
  = f.input :swLng
  = f.button :submit


