= simple_form_for @spot do |f|
  -if @spot.errors.any?
    #error_explanation
      %h2= "#{pluralize(@spot.errors.count, "error")} prohibited this spot from being saved:"
      %ul
        - @spot.errors.full_messages.each do |msg|
          %li= msg
  = f.input :name
  = f.simple_fields_for :location do |location_form|
    = location_form.input :lat
    = location_form.input :lng
  = f.input :description, as: :text
  = f.button :submit