= simple_form_for @spot do |f|
  -if @spot.errors.any?
    #error_explanation
      %h2= "#{pluralize(@spot.errors.count, "error")} prohibited this spot from being saved:"
      %ul
        - @spot.errors.full_messages.each do |msg|
          %li= msg
  = f.input :name
  = f.input :lat
  = f.input :lng
  = f.input :address
  .get_address
    = link_to "Get location's address", '#', class: 'get_address'
  = f.input :locality_id, collection: Locality.all
  = f.input :description, as: :text
  = f.button :submit