%p#notice= notice

%p
  %b Name:
  = @spot.name
%p
  %b Lat:
  = @spot.location.lat
%p
  %b Lng:
  = @spot.location.lng
%p
  %b Description:
  = @spot.description

= link_to 'Edit', edit_spot_path(@spot)
\|
= link_to 'Destroy', @spot, :confirm => 'Are you sure?', :method => :delete
\|
= link_to 'Back', root_url
