%html
  %head
    %title Treashery
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .links
      - Spot::TYPES.each do |type|
        %span{:class => type}= link_to type, '#', id: type, class: "spot_type #{type}", :'data-type' => type
        \|
      %span{:class => "all"}= link_to "all", '#', id: 'all', class: 'spot_type all selected', :'data-type' => ""
    #type{ :'data-type' => "" }
    #header
      #title
        %h1 Welcome to Treashery
      #search
        = form_tag url_for(:action => 'search', :controller => 'localities', format: :json), id: 'searchForm', method: :get, remote: true
        = text_field_tag 'search', nil, placeholder: 'Enter search term...', id: 'searchInput'
        = submit_tag 'Search'
      .links
        = link_to "Home", root_path
        \|
        = link_to "Faq", faq_path
        \|
        = link_to "About", about_path
        \|
        = link_to "Contact", contact_path

    = yield

    #footer
      %p trashery.com 2011