%html
  %head
    %title Treashery
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    - Spot::TYPES.each do |type|
      = link_to type, '#', class: 'set_type', :'data-type' => type
      \|
    = link_to "all", '#', class: 'set_type', :'data-type' => ""
    #type{ :'data-type' => "" }
    #header
      %h1 Welcome to Treashery - list of trash that lay on our streets
      = link_to "Home", root_path
      \|
      = link_to "Faq", faq_path
      \|
      = link_to "About", about_path
      \|
      = link_to "Contact", contact_path

    = yield

    #footer
      %p trashery.com 2011